<!-- Pure HTML Form
 <form action="/user" method="post" accept-charset="UTF-8">
    <label for="username">Username:</label>
    <input type="text" id="username" name="user[name]">
    <label for="password">Password:</label>
    <input type="input" id="password" name="user[password]">
    <label for="email">Email Address:</label>
    <input type="email" id="email" name="user[email]">
    <input type="submit" value="Submit This Form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
</form> -->

<!-- Using form_tag
  <%= form_tag("/user", method: "post") do %>
    <%= label_tag(:username, "Username:") %>
    <%= text_field_tag(:username) %>
    <%= label_tag(:password, "Password:") %>
    <%= password_field_tag(:password) %>
    <%= label_tag(:email) %>
    <%= email_field_tag(:email) %>
    <%= submit_tag("Submit this Form") %>
  <% end %> -->

<%= form_for @user do |f| %>
  Enter Username: <%= f.text_field :username, placeholder: "#{@user.username}" %>
  Enter Password: <%= f.password_field :password, placeholder: "Password" %>
  Enter Email: <%= f.email_field :email, placeholder: "#{@user.email}" %>
  <%= f.submit "Submit" %>
<% end %>